<%- include('./elements/header') -%>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .bannerImage {
            background: linear-gradient(rgba(221, 246, 255, 0.141) 50%, rgba(108, 120, 123, 0.278)), url('banner.jpg');
        }
    </style>

    <body>
        <div id="home">
            <%- include('./elements/login') -%>


                <!-- nav bar -->
                <%- include('./elements/navbar') -%>

                    <!-- banner -->

                    <section class="hero has-background-info-light is-large bannerImage">
                        <div class="hero-body has-text-centered" style="z-index: 2;">
                            <p class="title is-size-1">
                                HOTEL BOOKING
                            </p>
                            <p class="subtitle">
                                information for you
                            </p>
                        </div>
                    </section>




                    <!-- content -->
                    <div class="container my-5" v-for="room in allRoom">
                        <div :id="room.id">
                            <div class="tile is-ancestor my-5 has-background-danger-light">
                                <div class="tile is-4 is-vertical is-parent">
                                    <img :src="room.pic1" alt="image_room" width="100%">
                                    <div class="tile is-child " style="margin: 20px;">
                                        <i class="fa fa-star mt-3" style="font-size:40px ;color:rgb(244, 247, 76); margin-left: 100px;"></i>
                                        <i class="fa fa-star mt-3" style="font-size:40px ;color:rgb(244, 247, 76)"></i>
                                        <i class="fa fa-star mt-3" style="font-size:40px ;color:rgb(244, 247, 76)"></i>
                                        <i class="fa fa-star mt-3" style="font-size:40px ;color:rgb(188, 188, 165)"></i>
                                        <i class="fa fa-star mt-3" style="font-size:40px ;color:rgb(188, 188, 165)"></i>
                                    </div>
                                </div>
                                <div class="tile is-parent is-vertical">
                                    <div class="tile is-child">
                                        <p class="title">{{room.room_type}}</p>
                                        <p class="subtitle">{{room.description}}</p>
                                    </div>
                                    <!-- services -->
                                    <hr>
                                    <p class="subtitle is-5">Facilities</p>
                                    <div class="columns">


                                        <div class="column is-2 has-text-centered" v-if="room.breakfast == 'yes'">
                                            <i class="fa fa-coffee" style="font-size:50px"></i><br>
                                            breakfast
                                        </div>

                                        <div class="column is-2 has-text-centered"v-if="room.air_conditioner == 'yes'">
                                            <i class="fa fa-wifi" style="font-size:50px"></i><br>
                                            internet
                                        </div>
                                        <div class="column is-2 has-text-centered" v-if="room.wifi == 'yes'">
                                            <i class="fa fa-wifi" style="font-size:50px"></i><br>
                                            internet
                                        </div>
                                        <div class="column is-2 has-text-centered" v-if="room.pool == 'yes'">
                                            <i class="	fas fa-swimming-pool" style="font-size:50px"></i><br>
                                            pool
                                        </div>

                                    </div>
                                    <div class="tile is-child has-text-right">
                                        <p class="title has-text-danger">{{room.price}}</p>

                                        <a :href=" '/detail/' + room.room_id">
                                            <button v-if="logins == true"
                                                class="button has-background-success">จองตอนนี้</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        </div>

        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <!-- <script src="./data/data.js"></script> -->
        <script>
            var app = new Vue({
                el: '#home',
                data: {
                    modal: true,
                    isActive_Sign_in: false,
                    isActive_Sign_up: false,
                    allRoom: JSON.parse(`<%- rooms %>`),
                    logins: false,
                    sign_fname: '',
                    sign_lname: '',
                    sign_phone: '',
                    sign_dob: '',
                    sign_email: '',
                    sign_username: '',
                    sign_pass: '',
                },

                methods: {
                    Close() {
                        this.isActive_Sign_in = false
                        this.isActive_Sign_up = false
                    },
                    login() {
                        this.logins = true;
                        this.isActive_Sign_in = false
                    }
                },
                created() {
                }


            })
        </script>

        <br><br><br>

        <%- include('./elements/footer') -%>

    </body>